.cell-row
    display: table
    width: 100%


.cell
    display: table-cell


.cell-top
    vertical-align: top


.cell-middle
    vertical-align: middle


.cell-bottom
    vertical-align: bottom


table
    border-radius: 0.25em
    margin-top: 1em
    margin-bottom: 1em
    border-spacing: 0
    display: table

    th, td
        border-color: $darkest-gray

    th
        font-size: $medium
        text-align: center

    thead
        height: 2em
        background-color: $darkest-gray

        tr
            height: 2em

        th
            color: $off-white
            background-color: $darkest-gray


    tbody
        tr
            height: 2em

            td
                color: $darkest-gray

    @media screen and (max-width: $mobile)
        width: 100%
