a
    color: $link
    cursor: pointer
    text-decoration: underline
    background-color: transparent

    &:hover
        color: $darkest-gray
        outline-width: 0

    &:active
        outline-width: 0
