// Footer
.footer
	display: inline-flex
	flex-direction: column
	width: 100%
	padding: 2.5em 6%
	color: $text
	background-color: $light-gray

	a
		color: $link

		&:hover
			color: $darkest-gray

	.menu
		&:last-of-type
			margin-bottom: 1.25em

		@media screen and (max-width: $mobile)
			margin-top: 1.25em


	b, p
		color: $off-white

