// Table of Contents
.toc
    flex-shrink: 0
    margin-top: 2em
    margin-right: 2em

    > h2
        font-size: 1.25em

    nav
        border-radius: 0.25em
        background-color: $light-gray
        margin-top: 0.5em
        padding: 1em

        h3, h4
            text-align: left
            color: $link
            font-size: 1em

        h4
            padding-left: 1em
