.circle
    border-radius: 50%


.round-small
    border-radius: 0.125em


.round, .round-medium
    border-radius: 0.25em


.round-large
    border-radius: 0.5em


.round-xlarge
    border-radius: 1em


.round-xxlarge
    border-radius: 2em


.round-small-top
    border-top-left-radius: 0.125em
    border-top-right-radius: 0.125em


.round-top, .round-medium-top
    border-top-left-radius: 0.25em
    border-top-right-radius: 0.25em


.round-large-top
    border-top-left-radius: 0.5em
    border-top-right-radius: 0.5em


.round-xlarge-top
    border-top-left-radius: 1em
    border-top-right-radius: 1em


.round-xxlarge-top
    border-top-left-radius: 2em
    border-top-right-radius: 2em


.round-small-bottom
    border-bottom-left-radius: 0.125em
    border-bottom-right-radius: 0.125em


.round-bottom, .round-medium-bottom
    border-bottom-left-radius: 0.25em
    border-bottom-right-radius: 0.25em


.round-large-bottom
    border-bottom-left-radius: 0.5em
    border-bottom-right-radius: 0.5em


.round-xlarge-bottom
    border-bottom-left-radius: 1em
    border-bottom-right-radius: 1em


.round-xxlarge-bottom
    border-bottom-left-radius: 2em
    border-bottom-right-radius: 2em


.border-0
    border: 0


.border-default
    border-color: #ccc

.border
    border-width: 1px
    border-style: solid


.border-top
    border-top-width: 1px
    border-style: solid


.border-bottom
    border-bottom-width: 1px
    border-style: solid


.border-left
    border-left-width: 1px
    border-style: solid


.border-right
    border-right-width: 1px
    border-style: solid


.topbar
    border-top-width: 6px
    border-style: solid


.bottombar
    border-bottom-width: 6px
    border-style: solid


.leftbar
    border-left-width: 6px
    border-style: solid


.rightbar
    border-right-width: 6px
    border-style: solid

