html.dark
    body
        background-color: $bg-dark
        color: $light-gray

    .content
        background-color: $bg-content

    h1, h2, h3, h4, h5, h6, label, form
        color: $light-gray


    button, .button
        //filter: saturate(70%)

        &:hover, &:focus
            //filter: invert(1)


    .scroll-to-top-button
        &:hover, &:focus
            background-color: $amber


    input, textarea
        color: $black
        background: $light-gray
        border-color: $darkest-gray

        &:disabled
            cursor: not-allowed
            background: $gray
            border-color: $gray

        &:focus
            border-color: $primary-light
            background-color: rgba(255, 255, 225, 0.8)


    .banner
        h1, h2, h3, h4, h5, h6, p, ul, ol, span
            color: #c5c5c5


    #search-results
        a
            color: $link

            &:hover
                color: $darkest-gray


    .panel, .clean-container, .cell, .card
        //filter: saturate(65%)

        h1, h2, h3, h4, h5, h6, p, ul, ol, span
            color: inherit


    .panel
        filter: saturate(60%)


    p, ul:not(.list-card,.card-list,.clean-container), ol
        color: #c5c5c5


    a:not(.button, .close-button, .link-button, .button-square, .button-circle)
        color: $primary-light

        &:hover
            color: #FD844A


    a.bar-item.button, a.button.link-button
        color: white


    a.button.link-button:hover
        color: $amber


    header:not(.clean-container)
        color: #c5c5c5
        background-color: $black


    footer
        background-color: $black
        color: $gray


    pre, code
        color: $light-gray
        background-color: $black


    table
        thead
            th
                background-color: $black
                color: $lightest-gray

        tr:nth-child(odd)
            background-color: rgba(255, 255, 255, 0.05)

        tr:nth-child(even)
            background-color: transparent

        tr:hover
            background-color: rgba(0, 0, 0, 0.1)

        td
            color: $lightest-gray


    .toc nav
        background-color: rgba(255, 255, 255, 0.05)


    .clean-modal-content
        background-color: $darkest-gray


    .accordion-item
        background-color: $black


    .list-card
        background-color: #c5c5c5
        color: $darkest-gray


    .clean-modal, .search-modal
        background-color: rgba(255, 255, 255, 0.6)


    .dropdown-content
        color: #fff
        background-color: $black
