html.dark
    body
        background-color: #1D2546
        color: $light-gray


    h1, h2, h3, h4, h5, h6, label, form
        color: #ccc



    input, textarea
        color: black
        background: #ccc
        border-color: $darkest-gray


        &:disabled
            cursor: not-allowed
            background: $gray
            border-color: $gray

        &:focus
            border-color: $blue
            background-color: rgba(255, 255, 225, 0.8)


    .banner
        h1, h2, h3, h4, h5, h6, p, ul, ol, span
            color: #c5c5c5


    .panel, .clean-container, .cell, .card
        h1, h2, h3, h4, h5, h6, p, ul, ol, span
            color: inherit


    p, ul:not(.list-card,.card-list,.clean-container), ol
        color: #c5c5c5


    a:not(.button, .close-button, .link-button, .button-square, .button-circle)
        color: $light-blue

        &:hover
            color: #FD844A


    a.bar-item.button, a.button.link-button
        color: white

    a.button.link-button:hover
        color: $amber

    header:not(.clean-container)
        color: #c5c5c5
        background-color: black


    footer
        background-color: black
        color: $gray


    pre, code
        color: $light-gray
        background-color: black


    table
        thead
            th
                background-color: black
                color: #ccc

        tr:nth-child(odd)
            background-color: rgba(213, 189, 225, 0.2)

        tr:nth-child(even)
            background-color: rgba(213, 189, 225, 0.1)

        tr:hover, tr:nth-child(odd):hover
            background-color: rgba(213, 189, 225, 0.3)
            
        td
            color: #ccc


    .toc nav
        background-color: rgba(213, 189, 225, 0.1)

    .clean-modal-content
        background-color: $darkest-gray

    .accordion-item
        background-color: black

    .list-card
        background-color: #c5c5c5
        color: $darkest-gray


    .clean-modal, .search-modal
        background-color: rgba(255, 255, 255, 0.6)
