$tiny: 0.625em
$small: 0.75em
$normal: 0.875em
$medium: 1em
$large: 1.125em
$xlarge: 1.5em
$xxlarge: 2.25em
$xxxlarge: 3em
$jumbo: 4em


.serif
    font-family: $serif


.sans-serif
    font-family: $sans


.cursive
    font-family: cursive


.monospace
    font-family: $mono


.uppercase
    text-transform: uppercase


/* Sizes */
.tiny
    font-size: $tiny


.small
    font-size: $small


.normal
    font-size: $normal


.medium
    font-size: $medium


.large
    font-size: $large


.xlarge
    font-size: $xlarge


.xxlarge
    font-size: $xxlarge


.xxxlarge
    font-size: $xxxlarge


.jumbo
    font-size: $jumbo

