// Media Sizes
$xdesktop: 1200px
$desktop: 1024px
$xltablet: 1023px
$xtablet: 960px
$tablet: 767px
$xmobile: 600px
$mobile: 576px
$thumbnail-height: 250px


.huge-content
    max-width: $xdesktop


.big-content
    max-width: $desktop


.medium-content
    max-width: $xtablet


.small-content
    max-width: $xmobile


.fullwidth
    width: 100%
